.field-checkbox {
	$typo-margin-vertical: 10px;
	$color-danger: #951d1d;
	$gray-light: #c7bfbf;
	$block-name: &; // #{$block-name}__element

	display: flex;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;

	&__title {
		// @include field-name;
	}

	&__input-wrap {
		margin-bottom: 35px;
		padding-right: 10px;
		padding-left: 10px;
		width: 50%;

		// & + & {
		//	margin-top: $typo-margin-vertical;
		// }

		&--error {

			#{$block-name}__name-text,
			#{$block-name}__help-text {
				color: $color-danger;
			}
		}

		@include mobile-s {
			width: 33.333%;
		}

		@include desktop {
			width: 25%;
		}
	}

	&__name {
		position: relative;
		display: inline-block;
		margin-right: 6px;
		padding-left: 28px;
		font-weight: 500;
		font-size: 12px;
		line-height: 1.83;
		letter-spacing: 1.2px;
		text-transform: uppercase;
	}

	&__name-text {
		display: inline-block;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 1px;
			border-radius: 5px;
			width: 20px;
			height: 20px;
			background-color: $gray-color;
			transition: background 0.25s;

			@at-root input:checked ~ & {
				background-color: $blue;
			}
		}

		&::after {
			content: "";
			position: absolute;
			left: 4px;
			top: 6px;
			border-bottom: 2px solid $color-white;
			border-left: 2px solid $color-white;
			width: 13px;
			height: 6px;
			opacity: 0;
			transform: rotate(-45deg);
			transition: opacity 0.25s;

			@at-root input:checked ~ & {
				opacity: 1;
			}

			@at-root input:checked:disabled ~ & {
				border-color: $gray-light;
			}
		}

		// свой чекбокс с картинкой

		// &:before {
		//   content: '';
		//   position: absolute;
		//   top: 5px;
		//   left: 0;
		//   width: 14px;
		//   height: 14px;
		//   background-image: svg-load('../blocks/field-checkbox/bg-img/checkbox.svg');
		//   background-size: 100%;
		// }
		// @at-root input:checked ~ &:before {
		//   background-image: svg-load('../blocks/field-checkbox/bg-img/checkbox--checked.svg');
		// }

		// / свой чекбокс с картинкой

		// свой чекбокс без картинок

		@at-root input:disabled ~ & {
			cursor: not-allowed;
		}

		@at-root input:focus ~ &:before {
			// @include field-focus;
		}

		@at-root input:disabled ~ &:before {
			border-color: $gray-light;
		}

		// / свой чекбокс без картинок
	}

	&__input {
		position: absolute;
		left: 0;
		top: 0.7em;
		margin: 0;
		padding: 0;

		// сокрытие инпута в случае использования своего чекбокса
		opacity: 0;
		transform: translateY(-50%);

		&:focus,
		&:active {
			// @include field-focus;
		}
	}

	&__help-text-wrap {
		padding-left: 1.5em;
	}

	&__help-text {
		// @include field-help-text;
	}
}
