.form-field {
	margin-bottom: 20px;

	&__input {
		margin: 0;
		border: none;
		border-bottom: 2px solid $border-color;
		padding: 10px 0;
		width: 100%;
		font-family: inherit;
		font-weight: 500;
		font-size: 12px;
		line-height: 1;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: $text-color;

		&:focus {
			outline: none;
			border-bottom-color: darken($blue, 10%);
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}
