.home {
	max-width: 660px;
	width: 100%;
	padding: 0 20px;
	background-color: $color-white;
	background-image: url('../images/resources/bg.jpg');

	@include mobile-s{
		margin: 30px auto 50px;
	}

	@include desktop {
		padding: 0 20px;
		margin-top: 60px;
		margin-bottom: 100px;
	}
}
