.home {
	padding: 0 20px;
	width: 100%;
	max-width: 660px;
	background-image: url("../images/resources/bg.jpg");
	background-color: $color-white;

	@include mobile-s {
		margin: 30px auto 50px;
	}

	@include desktop {
		margin-top: 60px;
		margin-bottom: 100px;
		padding: 0 20px;
	}
}
