section.skills
	h2.skills__title
		| Навыки

	.skills__form

		+field-checkbox(data.skills, '')



	.skills__speedometer

		.skills__images

			img(src=`${baseDir}images/resources/speedometer.svg` alt="Speedometer")

			img(src=`${baseDir}images/resources/arrow-speedometer.svg` alt="Arrow speedometer").skills__arrow.js-arrow

		.skills__proficiency

			p.skills__text
				| Мой уровень владения #[br]
				| JavaScript

			span.skills__num.js-num 0
