-
	const data = {
		aboutFields: [
			{
				forId: 'name',
				label: 'Имя',
				value: 'Сергей',
				placeholder: 'Введите имя'
			},
			{
				forId: 'birth',
				label: 'Дата рождения',
				value: '21.10.1981',
				placeholder: 'Введите день рождения'
			},
			{
				forId: 'city',
				label: 'Город',
				value: 'Брест',
				placeholder: 'Введите название города'
			},
			{
				forId: 'contacts',
				label: 'Контактные данные',
				value: 'sera.prokop@gmail.com',
				placeholder: 'Введите контактные данные'
			}
		],
		skills: [
			{
				title: 'HTML5',
				attrs: {
					name: 'check1',
					checked: true,
				}
			},
			{
				title: 'SASS',
				attrs: {
					name: 'check2',
					checked: true,
				}
			},
			{
				title: 'VanillaJs',
				attrs: {
					name: 'check3',
					checked: true,
				}
			},
			{
				title: 'Git',
				attrs: {
					name: 'check4',
					checked: true,
				}
			},
			{
				title: 'CSS3',
				attrs: {
					name: 'check5',
					checked: true,
				}
			},
			{
				title: 'Less',
				attrs: {
					name: 'check6',
					checked: true,
				}
			},
			{
				title: 'Angular',
				attrs: {
					name: 'check7',
				}
			},
			{
				title: 'Foundation',
				attrs: {
					name: 'check8',
					checked: true,
				}
			},
			{
				title: 'БЭМ',
				attrs: {
					name: 'check9',
					checked: true,
				}
			},
			{
				title: 'Gulp',
				attrs: {
					name: 'check10',
					checked: true,
				}
			},
			{
				title: 'jQuery',
				attrs: {
					name: 'check11',
					checked: true,
				}
			},
			{
				title: 'bootstrap',
				attrs: {
					name: 'check12',
					checked: true,
				}
			},
		],

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		}
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
