// stylelint-disable no-empty-source
// @include font-face("../fonts/FontName/FontName", "FontName", 400, normal);

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
